<!-- 服务 -->
<hr/><div class="seller-notes-title">&#12288;&#12288;<span>|</span>使用流程</div><hr/>
<div class=" text-center" style="margin:20px 0;">

	<button class="btn btn-default" [ngClass]="{'btn-theme':channelShow==true}" (click)="channelShowBtn()">渠道主流程</button>
	<button class="btn btn-default"  [ngClass]="{'btn-theme':merchantShow==true}" (click)="merchantShowBtn()">广告主流程</button>
</div>
<div class="summary" style="margin:20px 0;">
<div id="summary-container"  class="row" *ngIf="channelShow">
        <div  class="col-sm-1 text-center">
            <span class="glyphicon glyphicon-user service-div"><div style="font-size:1rem;">注册</div></span>
            
        </div>
        <div class="col-sm-1  text-center ">
            <span class="glyphicon glyphicon-heart service-div"><div style="font-size:1rem;">登录</div></span>
            
        </div>
        <div class="col-sm-1  text-center ">
            <span class="glyphicon glyphicon-pencil service-div"><div style="font-size:1rem;">完善信息</div></span>
            
        </div>
        <div class="col-sm-1  text-center ">
            <span class="glyphicon glyphicon-tree-conifer service-div"><div style="font-size:1rem;">待审核</div></span>
            
        </div>
        <div class="col-sm-1  text-center ">
            <span class="glyphicon glyphicon-ok-sign service-div"><div style="font-size:1rem;">审核通过</div></span>
            
        </div>
        <div class="col-sm-1  text-center ">
            <span class="glyphicon glyphicon-globe service-div"><div style="font-size:1rem;">添加网站</div></span>
            
        </div>
        <div class="col-sm-1  text-center ">
            <span class="glyphicon glyphicon-tree-conifer service-div"><div style="font-size:1rem;">待审核</div></span>
            
        </div>
        <div class="col-sm-1  text-center ">
            <span class="glyphicon glyphicon-ok-sign service-div"><div style="font-size:1rem;">审核通过</div></span>
            
        </div>
        <div class="col-sm-1  text-center ">
            <span class="glyphicon glyphicon-list-alt service-div"><div style="font-size:1rem;">添加广告位</div></span>
            
        </div>
        <div class="col-sm-1 text-center">
            <div class="glyphicon glyphicon-cloud-download service-div" ><div style="font-size:1rem;">获取代码</div></div>

        </div>
        <div class="col-sm-1 text-center">
            <div class="glyphicon glyphicon-edit service-div" ><div style="font-size:1rem;">放置代码</div></div>

        </div>
        <div class="col-sm-1 text-center">
            <div class="glyphicon glyphicon-usd service-div" ><div style="font-size:1rem;">获取佣金</div></div>
            
            </div>
       </div>
<div id="summary-container"  class="row" *ngIf="merchantShow">
        <div  class="col-sm-offset-2 col-sm-1 text-center">
            <span class="glyphicon glyphicon-user service-div"><div style="font-size:1rem;">注册</div></span>
            
        </div>
         <div class="col-sm-1  text-center ">
            <span class="glyphicon glyphicon-heart service-div"><div style="font-size:1rem;">登录</div></span>
            
        </div>
        <div class="col-sm-1  text-center ">
            <span class="glyphicon glyphicon-pencil service-div"><div style="font-size:1rem;">完善信息</div></span>
            
        </div>
        <div class="col-sm-1  text-center ">
            <span class="glyphicon  glyphicon-cloud service-div"><div style="font-size:1rem;">待审核</div></span>
            
        </div>
        <div class="col-sm-1  text-center ">
            <span class="glyphicon glyphicon-ok-sign service-div"><div style="font-size:1rem;">审核通过</div></span>
            
        </div>
        <div class="col-sm-1  text-center ">
            <span class="glyphicon glyphicon-th service-div"><div style="font-size:1rem;">后台管理</div></span>
            
        </div>
        <div class="col-sm-1 text-center">
            <div class="glyphicon glyphicon-cloud-upload service-div" ><div style="font-size:1rem;">投放广告</div></div>

        </div>
        <div class="col-sm-1 text-center">
            <div class="glyphicon glyphicon-list-alt service-div" ><div style="font-size:1rem;">查看效果</div></div>
            
            </div>
       </div>
       </div>


	   <hr/><div class="seller-notes-title">&#12288;&#12288;<span>|</span>合作资源</div><hr/>
		<div id="summary-container" class="row" style="padding:5%;background-color:white;">
        <div class="col-md-offset-1 col-md-3 text-center aaa">
            <div class="glyphicon glyphicon-home" style="color:#ff3300;font-size:5em;"></div>
            <h2 style="color:#ff3300;">合作平台<br>
            <small>Cooperation platform</small>
            </h2>

            <p><a style="color:red !important;background-color:#fff !important;" href="http://www.fengchuan100.com/">疯传</a>、<a style="color:red !important;background-color:#fff !important;" href="http://toutiao.com/">今日头条</a>、<a style="color:red !important;background-color:#fff !important;" href="http://www.cctvmall.com/">央视网商城</a>等各大流量平台合作，为您的产品公司提供优质的服务。</p>

        </div>
        <div class="col-md-3 text-center">
            <div class="glyphicon glyphicon-th" style="color:#f0c239;font-size:5em;"></div>
           
            <h2 style="color:#f0c239;">渠道平台<br>
            <small>Channel platform</small>
            </h2>

            <p><a style="color:red !important;background-color:#fff !important;" href="http://www.gmw.cn/">光明网</a>、<a style="color:red !important;background-color:#fff !important;" href="http://www.chinanews.com/">中国新闻网</a>、<a style="color:red !important;background-color:#fff !important;" href="http://www.youth.cn/">中国青年网</a>等各大平台紧密联系，服务于生活，服务于客户。</p>

            </div>
        <div class="col-md-3 text-center">
            <div class="glyphicon glyphicon-leaf" style="color:#0c8918;font-size:5em;"></div>
           
            <h2 style="color:#0c8918;">一站式资源整合服务<br>
            <small>One stop resource integration service</small>
            </h2>

            <p>调研、分析、整合、联系、执行、反馈、优化、服务！</p>

            </div>
       </div>
	   <hr/>
<!-- 服务end -->

<!-- foot -->
  <div class="container-fuild seller-foot">
 	<div class="seller-foot-contact">
  <div >友情链接：
      	<a style="background-color: inherit !important;" href="http://baiwenyijian.fuwu88.cn">百闻一荐</a>
		<!--<a style="background-color: inherit !important;" href="http://man.fuwu88.cn">男人帮</a>
 		<a style="background-color: inherit !important;" href="http://woman.fuwu88.cn">女人圈</a>-->
 		<!--<a style="background-color: inherit !important;" href="http://finance.yayao8.com/">禄宏湖南微交易</a>-->
 </div>
 		<div>联系我们</div>
 		<div>公司地址：湖南省长沙市岳麓区阳光城1107室</div>
  <div ><a style="background-color: inherit !important;" href="http://www.miitbeian.gov.cn/">ICP证:湘ICP备16000397号</a></div>
 	</div>
  <div class="seller-foot-copyright"><p>Copyright 2016 itcast Inc,All rights reserved.</p></div>
  </div>
<!-- foot end -->