<!-- 添加广告按钮 -->
<br/><div class="btn btn-lg btn-primary" *ngIf="sessionRole.name=='超级管理员' ||  sessionRole.name=='广告主' ||  sessionRole.name=='广告管理员'" 
 (click)="toggleListAdvertise()"   >{{toggleListAdvertiseValue}}</div>
 <div class="btn btn-lg btn-default" *ngIf="sessionRole.name=='超级管理员' ||  sessionRole.name=='广告管理员'" 
 routerLink="/main/advertisemanager"  >返回广告主管理</div>

  <div class="btn btn-lg btn-default" *ngIf="sessionAdmin.can_open_account=='1' && sessionAdmin.admin_id!=advertiseAdminId" 
  [routerLink]="['/main/child',sessionAdmin.admin_id]" >返回下级账户菜单</div>
<!-- 添加广告按钮end -->
<div class="alert alert-danger" style="margin:20px 0;">
     规则：创建广告：
    <p>1,开始时间需比当前时间推迟20分钟</p>
    <p>2,结束时间必须大开始时间一小时</p>
    <p>3,计费方式：CPM最低为3元/千次，CPC最低为0.3元/次</p>
    <p>4,起价：CPM最低投放次数为20000起测，CPC最低投放次数为200起，皆为总价60元起</p>
 </div>
<!-- 增加广告 -->
	<form [hidden]="toggleListAdvertiseValue!='广告列表' || (sessionRole.name!='超级管理员' && sessionRole.name!='广告主'&&sessionRole.name!='广告管理员')" (ngSubmit)="saveAdvertise()"  novalidate #saveAdvertiseForm="ngForm">
     <label  class="text-default">*名称</label>
  <div class="comment-input-margin ">
    <input  type="text" class="comment-input" 
		 minlength="2" maxlength="16" #name="ngModel" required [(ngModel)]="advertise.name" name="name" placeholder="输入姓名">
  <span class="text-danger alert alert-danger " [hidden]="name.valid || name.pristine"><i class="glyphicon glyphicon-info-sign"></i>2-16位</span>
	</div>
    <label  class="text-default">*类型</label>
<div class="comment-input-margin">
<select [ngModel]="advertise.type" (ngModelChange)="advertise.type=$event" 
#type="ngModel" required  name="type"
>
<option value="">请选择</option>
<ng-container *ngFor="let advertisetype of ['wap','公众号','小程序','群控','微转','app']">
    <option [value]="advertisetype">
    {{advertisetype}}
    </option> 
</ng-container>
</select>
</div>

    <label  class="text-default">*子类型</label>
<div class="comment-input-margin">
<select [ngModel]="advertise.subtype" (ngModelChange)="advertise.subtype=$event" 
#type="ngModel" required  name="subtype"
>
<option value="">请选择</option>
<ng-container *ngFor="let advertisesubtype of advertisesubtypes">
    <option [value]="advertisesubtype">
    {{advertisesubtype}}
    </option> 
</ng-container>
</select>
</div>

    <!--<label  class="text-default">*子类型</label>
  <div class="comment-input-margin">
    <input type="text" class="comment-input" 
		  minlength="2"  maxlength="16" #subtype="ngModel" required [(ngModel)]="advertise.subtype" name="subtype" placeholder="输入子类型">
  <span class="text-danger alert alert-danger " [hidden]="subtype.valid || subtype.pristine"><i class="glyphicon glyphicon-info-sign"></i>2-16位</span>
  </div>-->
    <label  class="text-default">*计费方式</label>
<div class="comment-input-margin">
<select [ngModel]="advertise.billing_mode" (ngModelChange)="advertise.billing_mode=$event;getUnitMoney()" 
#billing_mode="ngModel" required  name="billing_mode"
>
<option value="">请选择</option>
<ng-container *ngFor="let advertisebilling_mode of advertisebilling_modes">
    <option [value]="advertisebilling_mode">
    {{advertisebilling_mode}}
    </option> 
</ng-container>
</select>
</div>
    <label  class="text-default">*地域</label>
<div class="comment-input-margin">
<select [ngModel]="advertise.region" (ngModelChange)="advertise.region=$event"
#region="ngModel" required  name="region"
>
<option value="">请选择</option>
<ng-container *ngFor="let advertiseregion of advertiseregions">
    <option [value]="advertiseregion">
    {{advertiseregion}}
    </option> 
</ng-container>
</select>
</div>
    <label  class="text-default">标题</label>
    <div class="text-danger">默认无标题，可不填，填写后为图文结合</div>
  <div class="comment-input-margin">
    <input type="text" class="comment-input" 
		  minlength="2"  maxlength="32" #title="ngModel" [(ngModel)]="advertise.title" name="title" placeholder="输入标题">
  <span class="text-danger alert alert-danger " [hidden]="title.valid || title.pristine"><i class="glyphicon glyphicon-info-sign"></i>2-32位</span>
  </div>

  <label  class="text-default">*广告图片</label>
  <!--<div class=" comment-input-margin">
    <input type="text" class=" comment-input"
   pattern="(http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&:/~\+#]*[\w\-\@?^=%&/~\+#])?"
    #img="ngModel" required [(ngModel)]="advertise.img" name="img"
      placeholder="http://或https://">
      <span class="text-danger alert alert-danger " [hidden]="img.valid || img.pristine"><i class="glyphicon glyphicon-info-sign"></i>广告图片地址错误</span>
     </div>-->
     <div class="text-danger">图片尺寸为比例尺寸建议宽:高=16:5 (如：宽=320px,高=100px,宽=480px,高=150px),大小不超过200KB</div>
     <div><img style="width:auto;height: auto;max-width:960px;max-height: 300px;"  [src]="advertise.img"/></div>
     <input type="file"  id="advertiseImg" required (change)="addAdvertiseImg()"/>
     <input type="hidden" name="img" [(ngModel)]="advertise.img" required />

  <label  class="text-default">*链接地址</label>
  <div class=" comment-input-margin">
    <input type="text" class=" comment-input"
   pattern="(http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&:/~\+#]*[\w\-\@?^=%&/~\+#])?"
    #link="ngModel" required [(ngModel)]="advertise.link" name="link"
      placeholder="http://或https://">
      <span class="text-danger alert alert-danger " [hidden]="link.valid || link.pristine"><i class="glyphicon glyphicon-info-sign"></i>链接地址错误</span>
     </div>
  <label  class="text-default">*单价</label>
  <div class=" comment-input-margin">
    <input type="text" class=" comment-input"
   pattern="(^[+]?[1-9]\d*(\.\d{1,2})?$)|(^[+]?[0]{1}(\.\d{1,2})?$)"
    #unit_price="ngModel" required [ngModel]="advertise.unit_price" (ngModelChange)="advertise.unit_price=$event;getUnitMoney()" name="unit_price"
      placeholder="两位小数">
      <span class="text-danger alert alert-danger " [hidden]="unit_price.valid || unit_price.pristine"><i class="glyphicon glyphicon-info-sign"></i>两位小数</span>
     </div>
  <label  class="text-default">*投放次数</label>
  <div class=" comment-input-margin">
    <input type="text" class=" comment-input"
   pattern="^\+?[1-9][0-9]*$"
    #unit_delivery_number="ngModel" required [ngModel]="advertise.unit_delivery_number" (ngModelChange)="advertise.unit_delivery_number=$event;getUnitMoney()" name="unit_delivery_number"
      placeholder="非零正整数">
      <span class="text-danger alert alert-danger " [hidden]="unit_delivery_number.valid || unit_delivery_number.pristine"><i class="glyphicon glyphicon-info-sign"></i>非零正整数</span>
     </div>
  <label  class="text-default">*广告金额</label>
  <div class=" comment-input-margin">
    <input type="text" class=" comment-input"
   pattern="(^[+]?[1-9]\d*(\.\d{1,2})?$)|(^[+]?[0]{1}(\.\d{1,2})?$)"
    #unit_money="ngModel" required name="unit_money"
    [ngModel]="advertise.unit_money" 
    [disabled]="true"
      placeholder="大于0,两位小数">
      <span class="text-danger alert alert-danger " [hidden]="unit_money.valid || unit_money.pristine"><i class="glyphicon glyphicon-info-sign"></i>大于0,两位小数</span>
     </div>
   <label class="text-info">*投放开始时间</label>
     <div class="comment-input-margin comment-input">
         <div class="input-group date form_datetime "   >
         <input class="form-control"
           #start_delivery_date="ngModel" readonly required [(ngModel)]="advertise.start_delivery_date" name="start_delivery_date"
          size="16" type="text" >
					<span class="input-group-addon" style="color:red" ><span class="glyphicon glyphicon-th"></span></span>
         </div>
     </div>
   <label class="text-info">*投放结束时间</label>
     <div class="comment-input-margin comment-input">
         <div class="input-group date form_datetime "   >
         <input class="form-control"
           #end_delivery_date="ngModel" readonly required [(ngModel)]="advertise.end_delivery_date" name="end_delivery_date"
          size="16" type="text" >
					<span class="input-group-addon" style="color:red" ><span class="glyphicon glyphicon-th"></span></span>
         </div>
     </div>
  <div class="comment-input-margin" style="margin-top:50px;">
  <button type="submit" class="btn btn-lg btn-info" [disabled]=" !saveAdvertiseForm.valid " >保存提交</button>
  </div>
</form>
<!-- 增加广告 end-->

		<!-- 页面列表 -->
		<div class='loadAnimation' *ngIf="showAdvertiseListIcon" style='z-index:99999'><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
<table class="table text-center table-striped"  style="border:2px solid #999;box-shadow:0 0 10px #999;" *ngIf="toggleListAdvertiseValue=='添加广告' && advertiseList.length > 0  && !showAdvertiseListIcon " >

 <thead>
      <tr > 
         <th class="text-center">序号</th>
         <th class="text-center">名称</th>
         <th class="text-center">类型</th>
         <th class="text-center">子类型</th>
         <th class="text-center">计费方式</th>
         <th class="text-center">地域</th>
         <th class="text-center">标题</th>
         <th class="text-center">广告图片</th>
         <th class="text-center">链接地址</th>
         <th class="text-center">单价</th>
         <th class="text-center">投放次数</th>
         <th class="text-center">已消耗次数</th>
         <th class="text-center">广告金额</th>
         <th class="text-center">已消耗金额</th>
         <th class="text-center">广告状态</th>
         <th class="text-center">投放开始时间</th>
         <th class="text-center">投放结束时间</th>
         <th class="text-center">更新时间</th>
         <th class="text-center">操作</th>
      </tr>
   </thead>
   <tbody >

      <tr  *ngFor="let advertise of advertiseList;let index=index" > 
         <td class="text-center">{{(currentPage-1)*pageNumber+index+1}}</td>
         <td class="text-center">{{advertise.name}}</td>
         <td class="text-center">{{advertise.type}}</td>
         <td class="text-center">{{advertise.subtype}}</td>
         <td class="text-center">{{advertise.billing_mode}}</td>
         <td class="text-center">{{advertise.region}}</td>
         <td class="text-center">{{advertise.title}}</td>
         <td class="text-center"><img style="width:168px;height: 40px;" [src]="advertise.img"/></td>
         <td class="text-center"><a style="background-color:white !important;color:green !important; " target="_blank" [href]="advertise.link">{{advertise.link}}</a></td>
         <td class="text-center">￥<span style="color:red;">{{advertise.unit_price ||'0' | ratio:'2'}}</span></td>
         <td class="text-center">{{advertise.unit_delivery_number}}</td>
         <td class="text-center">{{advertise.now_unit_delivery_number}}</td>
         <td class="text-center">￥<span style="color:red;">{{advertise.unit_money||'0' | ratio:'2'}}</span></td>
         <td class="text-center">￥<span style="color:red;">{{advertise.now_unit_money||'0' | ratio:'2'}}</span></td>
         <td class="text-center">{{advertise.status}}</td>
         <td class="text-center">{{advertise.start_delivery_date}}</td>
         <td class="text-center">{{advertise.end_delivery_date}}</td>
         <td class="text-center">{{advertise.update_date}}</td>
         <td class="text-center">
         <div *ngIf="advertise.status=='草稿'">
         	<button class="btn btn-warning" data-target="#myModal" *ngIf="sessionRole.name=='超级管理员' || sessionRole.name=='广告主' ||  sessionRole.name=='广告管理员'"  (click)="updateAdvertise(advertise)">编辑</button>
         	<button class="btn btn-success"  *ngIf="sessionRole.name=='超级管理员' || sessionRole.name=='广告主' ||  sessionRole.name=='广告管理员'" (click)="addAdvertiseDelivery(advertise)">投放</button>
         	<button class="btn btn-danger"  *ngIf="sessionRole.name=='超级管理员' || sessionRole.name=='广告主' ||  sessionRole.name=='广告管理员'" (click)="delAdvertise(advertise)">删除</button>
         </div>
          <div *ngIf="advertise.status!='草稿'">
            <button class="btn btn-success" data-target="#myModalData" *ngIf="sessionRole.name=='超级管理员' || sessionRole.name=='广告主' ||  sessionRole.name=='广告管理员'"  (click)="getAdvertiseData(advertise)">数据</button>
            <button class="btn btn-danger"  *ngIf="(advertise.status=='投放中' || advertise.status=='暂停') &&(sessionRole.name=='超级管理员' || sessionRole.name=='广告管理员')"  (click)="changeAdvertiseStatus(advertise)">{{advertise.status=='投放中'?'暂停':'启动'}}</button>
          </div>
         </td>
      </tr>
     
   </tbody>
</table>
		<!-- 页面列表end -->
<div *ngIf="toggleListAdvertiseValue=='添加广告' &&  advertiseList.length <= 0 && !showAdvertiseListIcon" class="text-center alert alert-warning">
       还没有广告，点击上面的添加广告快速添加吧！
   </div>
<!-- 加载更多end -->
   <div *ngIf="toggleListAdvertiseValue=='添加广告'" >
    <ul class="pagination " >
    <li><a (click)="toPage('首页')" >首页</a></li>
    <li class="previous" ><a (click)="toPage('previous')" >&larr;</a></li>

    <li *ngFor="let currentPageNumber of showPageNumberArray"><a (click)="toPage(currentPageNumber)" [ngClass]="{active:currentPageNumber==currentPage}">{{currentPageNumber}}</a></li>

    <li class="next"  ><a (click)="toPage('next')" >&rarr;</a></li>
    <li><a (click)="toPage('尾页')" >尾页</a></li>
    <li> <span>总页数：{{totalPage}}</span></li>
    <li><span>总数：{{totalNumber}}</span></li>
    </ul>
   </div>
<!--  加载更多end -->
<main-rightbar-advertise-update></main-rightbar-advertise-update>
<main-rightbar-advertise-data></main-rightbar-advertise-data>
