<button class="btn btn-primary btn-lg hidden" data-toggle="modal" id="modalClick" data-target="#myModal">
	点击开始
</button>
<div class="modal fade" id="myModal" tabindex="9999" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" id="myModalClose"  data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalTitle">
					修改网站
				</h4>
			</div>
			<div class="modal-body" id="myModalContent">
				<form  (ngSubmit)="updateWebsiteSubmit()"  novalidate #updateWebsiteForm="ngForm">
   <label  class="text-default">*名称</label>
  <div class="comment-input-margin ">
    <input  type="text" class="comment-input" 
		 minlength="2" maxlength="16" #name="ngModel" required [(ngModel)]="website.name" name="name" placeholder="输入姓名">
  <span class="text-danger alert alert-danger " [hidden]="name.valid || name.pristine"><i class="glyphicon glyphicon-info-sign"></i>2-16位</span>
	</div>

    <label  class="text-default">*类型</label>
  <div class="comment-input-margin">
    <input type="text" class="comment-input" 
		  minlength="2" maxlength="16" #type="ngModel" required [(ngModel)]="website.type" name="type" placeholder="输入类型">
  <span class="text-danger alert alert-danger " [hidden]="type.valid || type.pristine"><i class="glyphicon glyphicon-info-sign"></i>2-16位</span>
  </div>

  <label  class="text-default">*网站url</label>
  <div class=" comment-input-margin">
    <input type="text" class=" comment-input"
   pattern="(http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&:/~\+#]*[\w\-\@?^=%&/~\+#])?"
    #url="ngModel" required [(ngModel)]="website.url" name="url"
      placeholder="http://或https://">
      <span class="text-danger alert alert-danger " [hidden]="url.valid || url.pristine"><i class="glyphicon glyphicon-info-sign"></i>链接地址错误</span>
     </div>
    <!--<label  class="text-default">*备注</label>
  <div class="comment-input-margin">
  <textarea type="text" class="comment-input" 
   style="width:500px;min-height:200px;"
    minlength="2" maxlength="64"
	 #remark="ngModel"  [(ngModel)]="website.remark" name="remark"
    placeholder="输入备注"></textarea>
  <span class="text-danger alert alert-danger " [hidden]="website.valid || website.pristine"><i class="glyphicon glyphicon-info-sign"></i>2-64位</span>
  </div>-->
  <label *ngIf="sessionRole.name=='超级管理员'  || sessionRole.name=='渠道管理员'" class="text-default">*等级</label>
<div class="comment-input-margin" *ngIf="sessionRole.name=='超级管理员'  || sessionRole.name=='渠道管理员'">
<select [ngModel]="website.remark" (ngModelChange)="website.remark=$event" 
#remark="ngModel" required  name="remark"
>
<option value="">请选择</option>
<ng-container *ngFor="let websiteremark of ['一星','二星','三星','四星','五星']">
    <option [value]="websiteremark">
    {{websiteremark}}
    </option> 
</ng-container>
</select>
</div>
  <div class="comment-input-margin" style="margin-top:50px;">
  <button type="submit" class="btn btn-lg btn-info" [disabled]=" !updateWebsiteForm.valid " >保存提交</button>
  </div>
</form>
			</div>
	
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>